<div
  class="forex__subscribedCurrency"
  *transloco="let t; read: 'forex.forexPage.subscribedCurrency'"
>
  <div class="forex__boxValues">
    <div class="forex__principalText">
      <b>{{ currency._code }}/EUR</b>
    </div>
    <div class="forex__secondaryText">
      <i>{{ t("following") }}</i>
    </div>
  </div>

  <div class="forex__boxValues">
    <div class="forex__principalText">
      <b *ngIf="historyNow == undefined; else historyNowLow">
        No data
      </b>
      <ng-template #historyNowLow>
        <b>{{ historyNow._low }}</b>
      </ng-template>
    </div>
    <div class="forex__secondaryText">
      <i>{{ t("low") }}</i>
    </div>
  </div>

  <div class="forex__boxValues">
    <div class="forex__principalText">
      <b *ngIf="historyNow == undefined; else historyNowHigh">
        No data
      </b>
      <ng-template #historyNowHigh>
        <b>{{ historyNow._high }}</b>
      </ng-template>
    </div>
    <div class="forex__secondaryText">
      <i>{{ t("high") }}</i>
    </div>
  </div>

  <div class="forex__yesterdayCurrency">
    <div class="forex__yesterdayTitle">
      <b>{{ t("yesterday") }}</b>
      <fa-icon *ngIf="currencyToUp; else defaultIcon" [icon]="['fas', 'caret-up']"></fa-icon>
      <ng-template #defaultIcon>
          <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </ng-template>
    </div>
    <div class="forex__boxValues">
      <div class="forex__principalText">
        <b *ngIf="historyYesterday == undefined; else historyYesterdayLow">
          No data
        </b>
        <ng-template #historyYesterdayLow>
          <b>{{ historyYesterday._low }}</b>
        </ng-template>
      </div>
      <div class="forex__secondaryText">
        <i>{{ t("low") }}</i>
      </div>
    </div>

    <div class="forex__boxValues">
      <div class="forex__principalText">
        <b *ngIf="historyYesterday == undefined; else historyYesterdayHigh">
          No data
        </b>
        <ng-template #historyYesterdayHigh>
          <b>{{ historyYesterday._high }}</b>
        </ng-template>
      </div>
      <div class="forex__secondaryText">
        <i>{{ t("high") }}</i>
      </div>
    </div>
  </div>

  <div class="forex__boxValues">
    <button mat-raised-button color="warn" (click)="unsubscribeCurrency()">
      <fa-icon [icon]="['fas', 'minus-circle']"></fa-icon>
      {{ t("unsubscribe") }}
    </button>
  </div>
</div>
